<!DOCTYPE html>
<html>
<head>
  <title>Joia da Europa</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!--<%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track': 'reload' %>-->

</head>

<body>

<!--<div class="row-offcanvas row-offcanvas-left">
  <div id="left" class="leftMenu">
    <div id="logo"><img src="<%= asset_path 'logo.png' %>"></div>
      <%= link_to "Home", index_path %>
      <%= link_to "Missão", missao_path %>
      <%= link_to "Quem Somos", quemsomos_path %>
      <%= link_to "Contactos", contactos_path %>
      <% if current_user %>
        <%= link_to "Inicio", inicio_path %>
        <%= link_to "Perfil", perfil_path %>
        <%= link_to "Encomendas", listar_path %>
      <% end %>
  </div>-->
  <header class="navbar navbar-fixed-top" style="padding-top: 15px"> 
    <nav class="navbar-inner">
      <div class="container">
              <nav class="navbar navbar-default estilo">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!--<div id="logo"><img style="width: 70%;" src="<%= asset_path 'logo.png' %>" ></div>-->
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to "Home", index_path %></li>
              <li><%= link_to "Missão", missao_path %></li>
              <li><%= link_to "Quem Somos", quemsomos_path %></li>
              <li><%= link_to "Contactos", contactos_path %></li>
              <li><%= link_to "Notícias", noticias_path %></li>
              <% if current_user %>
                <li><%= link_to "Inicio", inicio_path %></li>
                <li><%= link_to "Perfil", perfil_path %></li>
                <li><%= link_to "Encomendas", listar_path %></li>
              <% end %>
              </ul>
              <ul class="nav navbar-nav navbar-right">

              <li><%= link_to 'PT', '?lang=pt' %></li>
                <li><span>||||</span></li>
              <li><%= link_to 'EN', '?lang=en' %></li>
                <li><span>||||</span></li>
                <% if current_user %>
                    <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
                <% else %>
                    <li><%= link_to 'Sign In', new_user_session_path %></li>
                <% end %>
            </ul>
          </div>
        </div>
      </nav>
      </div>
    </nav>

</div>
</nav>
</header>
<!--
<% if notice %>
    <div class="alert alert-info" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
    <% end %>
    <% if alert %>
    <div class="alert alert-warning" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= alert %>
    </div>
    <% end %>-->
<div class="container" style="padding-top: 80px">
    <%= yield %>

</div>
</body>
</html>
