<!DOCTYPE html>
<html>
<head>
  <title>JoiaDaEuropa</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>


<div id="left" class="leftMenu">
  <div id="logo"><img src="<%= asset_path 'logo.png' %>"></div>
  <ul>
    <%= link_to "Home", index_path %>
    <%= link_to "Missao", missao_path %>
    <%= link_to "Quem Somos", quemsomos_path %>
    <%= link_to "Contactos", contactos_path %>
    <% if current_user %>
        <a href="#">Inicio</a>
        <a href="#">Perfil</a>
        <a href="#">Encomendas</a>
    <% end %>
  </ul>
</div>
<div id="rightHeader">
  <div>

    <%= link_to 'PT', '/?lang=pt', :class => "btn btn-info" %>
    <span>|</span>
    <%= link_to 'EN', '/?lang=en', :class => "btn btn-info" %>
    <% if current_user %>
        <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, :class => "btn btn-danger", :glyph => :home %>
    <% else %>
        <%= link_to 'Sign In', new_user_session_path, :class => "btn btn-success" %>
    <% end %>
  </div>
<%= yield %>
</div>

<!--
<% if notice %>
    <div class="alert alert-info" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
    <% end %>
    <% if alert %>
    <div class="alert alert-warning" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= alert %>
    </div>
    <% end %>-->
</body>
</html>
