<div class="form-group col-md-4">

  <div>
    <%= @errors %>
  </div>

  <%= form_for :profiles, url: profile_update_path do |p| %>
      <div class="form-group row">
        <h1>Editar perfil</h1>

        <label class="col-2 col-form-label">Sexo</label>
        <div class="col-10">
          <div class="radio">
            <label>
              <%= p.radio_button :gender, "1", :checked => @profile.gender == 1 %>Masculino
            </label>
          </div>
          <div class="radio">
            <label>
              <%= p.radio_button :gender, "0", :checked => @profile.gender == 0 %>Fem
            </label>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label">Data Nascimento (YYYY-MM-DD) </label>
            <div class="col-10">
              <%= p.text_field :birth, value: @profile.birth %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label">Telefone</label>
            <div class="col-10">
              <%= p.text_field :telephone, value: @profile.telephone, :class => "form-control" %>
            </div>
            <br>
            <%= p.submit %>
          </div>
  <% end %>
  </div>
  </div>
</div>