<% if @orders.blank? %>
    <p>There are not any orders currently in the system.</p>
<% else %>
    <p>These are the current orders in our system</p>


      <% @orders.each do |c| %>
          <p>
            <strong>ID: </strong> <%= c.id %><br />
            <strong>Price: </strong> $<%= c.price %><br />
            <strong>Status :</strong> <%= c.status %><br />
            <strong>ADM Comment:</strong> <%= c.adm_comment %><br />
            <strong>Delivery Date: </strong> <%= c.delivery_date %><br />
          </p>
      <% end %>
    <% end %>