<div id="rightContent">
  <div id="list">
    <h2>Pedidos</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <% if @orders.blank? %>
          <tr>
            <th class="danger">Não há pedidos registrados.</th>
          </tr>
      <% else %>
          <!--<p>These are the current orders in our system</p>-->
          <% @orders.each do |order| %>
              <tr>
                <th>ID</th>
                <th>Preço</th>
                <th>Status</th>
                <th>Comentário</th>
                <th>Data de Entrega</th>
                <th>Ações</th>
              </tr>
              <tr>
               <td><%= order.id %></td>
                <td>$<%= order.price %></td>
                <td><%= order.status %></td>
                <td><%= order.client_comment %></td>
                <td><%= order.delivery_date %></td>
                <td><%=link_to "Cancelar", {:action=>'delete', :id => order.id}, :class=> "btn btn-danger btn-sm"%></td>
              </tr>
          <% end %>
      <% end %>
    </table>
  </div>
</div>
</div>