<div id="right">

  <% if @orders.blank? %>
    <p>There are not any orders currently in the system.</p>
  <% else %>
    <p>These are the current orders in our system</p>
      <% @orders.each do |order| %>
          <p>
            <strong>ID: </strong> <%= order.id %><br />
            <strong>Price: </strong> $<%= order.price %><br />
            <strong>Status :</strong> <%= order.status %><br />
            <strong>ADM Comment:</strong> <%= order.adm_comment %><br />
            <strong>Delivery Date: </strong> <%= order.delivery_date %><br />
          </p>
      <% end %>
    <% end %>

</div>