<div class="form-group col-md-4">

  <div>
    <%= @errors %>
  </div>

  <%= form_for :order, url: order_create_path do |o| %>


  <div class="form-group row">
    <h1>Add new order</h1>

    <label class="col-2 col-form-label">Delivery Date</label>
    <div class="col-10">
      <%= o.text_field :delivery_date %>    
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Price</label>
    <div class="col-10">
      <%= o.text_field :price %>      
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Comment</label>
    <div class="col-10">
      <%= o.text_area :client_comment %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Attachment</label>
    <div class="col-10">
    <%= o.text_field :attachment %>
    </div><br>
      <%= o.submit %>
  </div>         




  <% end %>

</div>
