<div id="right">
  <h1>Add new order</h1>

    <div>
        <%= @errors %>
    </div>

  <%= form_for :order, url: order_create_path do |o| %>
      Delivery Date: <%= o.text_field :delivery_date %><br>
      Price: <%= o.text_field :price %><br>
      Comment: <%= o.text_area :client_comment %><br>
      Attachmentt:    <%= o.file_field :attachment, :url =>{:action => 'new'}, :html => {:multipart => true} %><br>
      <%= o.submit %>
  <% end %>

</div>
